
You should not see this.

<.modal :if={@live_action in [:new, :edit]} id="action-modal" show on_cancel={JS.patch(~p"/quests")}>
  <.live_component
    module={QuestifyWeb.ActionLive.FormComponent}
    id={@action.id || :new}
    title={@page_title}
    action={@live_action}
    action={@action}
    from_id={@from_id}
    patch={~p"/quests"}
  />
</.modal>
