@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html {
  height: 100%;
  overflow: hidden; /* Prevents scrolling on the entire page */
}
body {
  height: 100%;
  overflow: hidden; /* Prevents scrolling on the entire page */
  font-family: 'Press Start 2P', cursive;
}
@font-face {
  font-family: 'RetroGaming';
  src: url('/path/to/your/retro-font.woff2') format('woff2');
}

.font-retro {
  font-family: 'RetroGaming', sans-serif;
}

.game-image {
  max-width: 100%;
  border: 3px solid #dcb439; /* Gold border for the image */
}

.game-description {
  background-color: #111; /* Dark background for the description box */
  color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid #dcb439; /* Gold border for the description box */
}

.command-input {
  background-color: #111; /* Dark background for the input area */
  color: #fff;
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
}

/* Style for the command input to stand out */
.command-input:focus {
  outline: 2px solid #dcb439; /* Gold outline for focus state */
}

.arcade-link {
  /* Other styles for your link */
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  text-decoration: none; /* Optional: removes the underline */
  color: #dcb439; /* Gold color text */
  padding-left: 1.5em; /* Space for the icon */
}

.arcade-link:hover::before {
  content: '➤'; /* You can use an arrow or any character here */
  position: absolute;
  left: 0; /* Aligns the icon to the left */
  top: 50%; /* Centers it vertically */
  transform: translateY(-50%); /* Aligns it perfectly centered */
  color: #dcb439; /* Gold color text, or choose a different color for the icon */
  font-size: 1em; /* Adjust the size as needed */
}

/* Custom styles for the container */
.arcade-links {  
  overflow-y: auto; /* Enables vertical scrolling within the element */
  max-height: 40vh; /* Adjust based on your layout needs */
  padding: 1em;
  display: block;
}

/* Styles for the scrollbar track */
.arcade-links::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Light background for the track */
}

/* Styles for the scrollbar handle */
.arcade-links::-webkit-scrollbar-thumb {
  background-color: #dcb439; /* A gold color to match your link color */
  border-radius: 4px; /* Rounded corners for the handle */
}

.arcade-links::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}